[submodule "week2/contracts/lib/openzeppelin-contracts"]
	path = week2/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "weeks3-5/contracts/lib/openzeppelin-contracts"]
	path = weeks3-5/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week1/contracts/lib/openzeppelin-contracts"]
	path = week1/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "weeks8-11/damn-vulnerable-defi/side-entrance/lib/forge-std"]
	path = weeks8-11/damn-vulnerable-defi/side-entrance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/damn-vulnerable-defi/side-entrance/lib/solady"]
	path = weeks8-11/damn-vulnerable-defi/side-entrance/lib/solady
	url = https://github.com/vectorized/solady
[submodule "weeks8-11/damn-vulnerable-defi/unstoppable/lib/forge-std"]
	path = weeks8-11/damn-vulnerable-defi/unstoppable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/damn-vulnerable-defi/unstoppable/lib/openzeppelin-contracts"]
	path = weeks8-11/damn-vulnerable-defi/unstoppable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "weeks8-11/damn-vulnerable-defi/unstoppable/lib/solmate"]
	path = weeks8-11/damn-vulnerable-defi/unstoppable/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "weeks8-11/ethernaut/denial/lib/forge-std"]
	path = weeks8-11/ethernaut/denial/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/ethernaut/naught-coin/lib/forge-std"]
	path = weeks8-11/ethernaut/naught-coin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/ethernaut/naught-coin/lib/openzeppelin-contracts"]
	path = weeks8-11/ethernaut/naught-coin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "weeks8-11/damn-vulnerable-defi/truster/lib/forge-std"]
	path = weeks8-11/damn-vulnerable-defi/truster/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/damn-vulnerable-defi/truster/lib/openzeppelin-contracts"]
	path = weeks8-11/damn-vulnerable-defi/truster/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "weeks8-11/damn-vulnerable-defi/truster/lib/solmate"]
	path = weeks8-11/damn-vulnerable-defi/truster/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "weeks8-11/ethernaut/gatekeeper-one/lib/forge-std"]
	path = weeks8-11/ethernaut/gatekeeper-one/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/ethernaut/dex-two/lib/forge-std"]
	path = weeks8-11/ethernaut/dex-two/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/ethernaut/dex-two/lib/openzeppelin-contracts"]
	path = weeks8-11/ethernaut/dex-two/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "weeks8-11/damn-vulnerable-defi/naive-receiver/lib/forge-std"]
	path = weeks8-11/damn-vulnerable-defi/naive-receiver/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "weeks8-11/damn-vulnerable-defi/naive-receiver/lib/openzeppelin-contracts"]
	path = weeks8-11/damn-vulnerable-defi/naive-receiver/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "weeks8-11/damn-vulnerable-defi/naive-receiver/lib/solady"]
	path = weeks8-11/damn-vulnerable-defi/naive-receiver/lib/solady
	url = https://github.com/vectorized/solady
