[submodule "7 - Yul ERC1155/yul-erc1155/lib/solmate"]
	path = 7 - Yul ERC1155/yul-erc1155/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "7 - Yul ERC1155/yul-erc1155/lib/forge-std"]
	path = 7 - Yul ERC1155/yul-erc1155/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
